.movie__badge {
  background-color: rgb(7, 140, 250);
  font-size: 12px;
  line-height: 21px;
  color: #fff;
}

a {
  display: block;
  font-size: 24px;
  line-height: 18px;
  font-family: montserrat, open sans, sans-serif;
  font-weight: 500;
}

.left-underline {
  position: relative;
}

.left-underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(66, 65, 65);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.left-underline:hover:before {
  visibility: visible;
  width: 100%;
}

/* Grow Hover Effect */
.hvr-grow,
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
  transform: scale(0.9);
}
