.home-section_header {
  position: relative;
  width: 100%;
  padding: 10px 0 20px 12.5px;
}

@media (min-width: 1200px) {
  .home-section_header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 28.5714285714%;
    flex: 0 0 28.5714285714%;
    max-width: 28.5714285714%;
    padding-right: 67.5px;
  }
}

@media (min-width: 992px) {
  .home-section_header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    -webkit-align-self: center;
    align-self: center;
    margin-bottom: 0;
  }
}
.section-title {
  font-size: 2em;
}
.section-title::after {
  background-color: black;
}

/* .home-section {
  width: 100vw;
  position: relative;
  margin-left: calc(-50vw + 50% - 8px);
} */

/* .section-featured-post {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  min-height: 300px;
  background-position: center;
  background-size: cover;
} */

/* @media (min-width: 992px) {
  .section-featured-post {
    min-height: 600px;
  }
}

@media (min-width: 768px) {
  .section-featured-post {
    min-height: 500px;
  }
} */
